.round-up
	margin-bottom: 82px

	&__grid
		display: grid
		grid-template-columns: repeat(3, 1fr)
		grid-gap: 32px 30px
		margin-bottom: 32px

		@media #{$tablet}
			grid-template-columns: repeat(2, 1fr)

		@media #{$phone}
			grid-template-columns: 1fr

	&__item
		display: flex
		flex-direction: column

		&:nth-of-type(3)
			@media (min-width: 930px)
				grid-column-start: 1
				grid-column-end: 3

				.round-up__img
					height: 218px

				.round-up__item-wrap > .title
					width: 400px

		&:last-of-type
			@media (min-width: 930px)
				grid-column-start: 3
				grid-row-start: 1
				grid-row-end: 3

				.round-up__item-wrap,
				.round-up__img
					height: calc(100% - 16px)

		@media (hover)
			&:hover
				.round-up__img
					opacity: .8

		.round-up__img
			margin-bottom: 16px
			transition: opacity .2s ease-in-out

		span
			margin-bottom: 8px

	&__item-wrap
		position: relative

		.title
			position: absolute
			z-index: 1
			left: 24px
			bottom: 32px
			width: 220px

	&__img
		width: 100%
		height: 180px
		border-radius: 10px
		object-fit: cover
